<ion-header>

  <ion-navbar>
    <ion-title>{{ item.name }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="item-profile" text-center #profilePic [style.background-image]="'url(' + item.imageUrl + ')'">
  </div>

  <div class="item-detail" padding>
    <h2>{{item.name}}</h2>
    <p>{{item.about}}</p>

    <ion-note *ngIf="item.duration">Duration:{{item.duration}}</ion-note>
    <ion-note *ngIf="item.deposit">Deposit:{{item.deposit}}</ion-note>
    <ion-note  *ngIf="item.rate">Rate:{{item.rate}}</ion-note>
  </div>
</ion-content>
