<ion-content scroll="false">
  <div class="splash-bg"></div>
  <div class="splash-info">
    <div class="splash-logo"></div>
    <div class="splash-intro">
      {{ 'WELCOME_INTRO' | translate }}
    </div>
  </div>
  <div padding *ngIf="loaded">
    <h5>If you have already register, please</h5>
    <div padding>
      <button type="button" (click)="login()" class="btn btn-block btn-primary btn-lg"><ion-icon name="log-in"></ion-icon>{{ 'LOGIN' | translate }}</button>
    </div>
    <h5>If you need to create an account</h5>
    <div padding>
      <button type="button" (click)="signup()" class="btn btn-block btn-secondary btn-lg">   <ion-icon name="checkbox-outline"></ion-icon>{{ 'SIGNUP' | translate }}</button>
    </div>

  </div>
  <div padding *ngIf="!loaded">
    <h5 class="text-center">Loading..</h5>
  </div>
</ion-content>
