<ion-header>

  <ion-navbar>
    <ion-title>{{ 'SEARCH_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>



    <!--
    <option value="Lawn &amp; Garden" ng-reflect-value="Lawn &amp; Garden">Lawn and Garden</option>
            <option value="Construction" ng-reflect-value="Construction">Construction</option>
            <option value="Household" ng-reflect-value="Household">Household</option>
            <option value="Automotives" ng-reflect-value="Automotives">Automotives</option>
            <option value="Electronics" ng-reflect-value="Electronics">Electronics</option>
            <option value="Other" ng-reflect--->
    <div class="row m0" *ngIf="!selectedCategory">
      <div class="col-6 mt15" (click)="selectedCategory='lawn'">
        <div class="icon-lg icon-lawn"></div>
        <div class="center">Lawn &amp; Garden</div>
      </div>
      <div class="col-6 mt15 " (click)="selectedCategory='construction'">
        <div class="icon-lg icon-construction"></div>
        <div class="center">Construction</div>
      </div>
      <div class="col-6 mt15" (click)="selectedCategory='household'">
        <div class="icon-lg icon-household"></div>
        <div class="center">Household</div>
      </div>
      <div class="col-6 mt15" (click)="selectedCategory='automotive'">
        <div class="icon-lg icon-automotive"></div>
        <div class="center">Automotives</div>
      </div>
      <div class="col-6 mt15" (click)="selectedCategory='electronics'">
        <div class="icon-lg icon-electronics"></div>
        <div class="center">Electronics</div>
      </div>
      <div class="col-6 mt15" (click)="selectedCategory='other'">
        <div class="icon-lg icon-other"></div>
        <div class="center">Other</div>
      </div>
    </div>
    <div class="search-form" *ngIf="selectedCategory">
      <input class="form-control" [(ngModel)]="searchterm">
    </div>


    <div class="row m0" *ngIf="selectedCategory">
      <a class="col-12" (click)="selectedCategory=null">&lt; Back</a>
      <item-card class="col-6 col-sm-4 col-md-4 card"  *ngFor="let item of items.itemList|itemSearch:searchterm" [item]="item" [isOwner]="false"></item-card>

      <!--
      <ion-item-sliding *ngFor="let item of items.itemList">

        <button ion-item (click)="openItem(item)">
          <ion-avatar item-start>
            <img [src]="item.imageUrl" />
          </ion-avatar>
          <h2>{{item.name}}</h2>
          <p>{{item.about}}</p>
          <p class="owner">Owner: {{item.owner}}</p>
          <p class="zip">Zip: {{item.zip}}</p>
          <ion-note item-end *ngIf="item.duration">Duration:{{item.duration}}</ion-note>
          <ion-note item-end *ngIf="item.deposit">Deposit:{{item.deposit}}</ion-note>
          <ion-note item-end *ngIf="item.rate">Rate:{{item.rate}}</ion-note>
        </button>
      </ion-item-sliding>-->
    </div>
</ion-content>
